Hermes/HermesClient/Service References/EntityLoaderServiceReference/HermesEntityLoader1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://HermesEntityLoaderLib" elementFormDefault="qualified" targetNamespace="http://HermesEntityLoaderLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/HermesEntityLoader?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HermesDataLib" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q2:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetNEmployeesResult" nillable="true" type="q3:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTrade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetOneTradeResult" nillable="true" type="q4:TradeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetAllTradesResult" nillable="true" type="q5:ArrayOfTradeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTrades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HermesDataLib" minOccurs="0" name="GetNTradesResult" nillable="true" type="q6:ArrayOfTradeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>