Hermes/HermesClient/Service References/EntityLoaderServiceReference/HermesEntityLoader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://HermesEntityLoaderLib" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HermesEntityLoaderLib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://HermesEntityLoaderLib/Imports">
      <xsd:import schemaLocation="http://localhost:8000/HermesEntityLoader?xsd=xsd0" namespace="http://HermesEntityLoaderLib" />
      <xsd:import schemaLocation="http://localhost:8000/HermesEntityLoader?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/HermesEntityLoader?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HermesDataLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityLoaderService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetNEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNEmployees" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetNEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetOneTrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneTrade" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetOneTrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneTradeResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetAllTrades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrades" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetAllTrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTradesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetNTrades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNTrades" />
  </wsdl:message>
  <wsdl:message name="IEntityLoaderService_GetNTrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNTradesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityLoaderService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetEmployee" message="tns:IEntityLoaderService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetEmployeeResponse" message="tns:IEntityLoaderService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetEmployees" message="tns:IEntityLoaderService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetEmployeesResponse" message="tns:IEntityLoaderService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNEmployees">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetNEmployees" message="tns:IEntityLoaderService_GetNEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetNEmployeesResponse" message="tns:IEntityLoaderService_GetNEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneTrade">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetOneTrade" message="tns:IEntityLoaderService_GetOneTrade_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetOneTradeResponse" message="tns:IEntityLoaderService_GetOneTrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTrades">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetAllTrades" message="tns:IEntityLoaderService_GetAllTrades_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetAllTradesResponse" message="tns:IEntityLoaderService_GetAllTrades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNTrades">
      <wsdl:input wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetNTrades" message="tns:IEntityLoaderService_GetNTrades_InputMessage" />
      <wsdl:output wsaw:Action="http://HermesEntityLoaderLib/IEntityLoaderService/GetNTradesResponse" message="tns:IEntityLoaderService_GetNTrades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>